.onboarding {
  position: relative;
}
.onboarding-image {
  width: 100%;
  height: 100vh;
}
.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: var(--black-color);
  opacity: 0.9;
  top: 0;
  left: 0;
  /* margin-top: 50px; */
}
.onboarding-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: var(--green-color);
  text-align: center;
  font-size: 48px;
}
