@import url("../index.css");

.section-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.sections-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-element .cardContent-element {
  background-color: var(--blue-color);
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 4px black;
}
.card-element .cardContent-element:active {
  background: var(--blue-color);
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.card-element .cardContent-element:hover .overlay-section {
  opacity: 0.4;
  transition: 0.4s;
}
.sections-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  color: var(--white-color);
  margin: 0 auto;
}
.sectionsTitle {
  background: var(--blue-color);
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sectionsTitle h5 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.overlay-section {
  position: absolute;
  height: 85%;
  width: 250px;
  background: var(--black-color);
  opacity: 0;
  top: 0;
  left: 0;
}

/* Popup Begins */
.popup-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  position: relative;
  width: 40%;
  min-height: 300px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px #aaaaaa;
}
.box p {
  padding: 30px 0;
}
@media (max-width: 700px) {
  .sections-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .box {
    position: relative;
    width: 80%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px #aaaaaa;
  }
  .btn-close {
    cursor: pointer;
    border: 1px solid #999;
    position: fixed;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: calc(30% - 80px);
    top: 20%;
    box-shadow: 2px 2px 5px #aaaaaa;
  }
  .sdg-wheel {
    display: none;
  }
}
